#informativo {
    position: relative;
    height: calc(100vh - 225px);
}

#slideInformativo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#slideDoInformativo {
    height: 100%;
    width: 100%;
}

#setaES {
    background-color: #0d0d0e10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: blue;
    width: 80px;
    z-index: 10;
    left: 0;
}

#setaES i {
    color: rgb(255, 255, 255);
    font-size: 55px;
}

#setaDT {
    height: 100px;
    background-color: blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    z-index: 10;
    right: 0;
}

#setaDT,
#setaES {
    display: none;
}

#setaDT.displayOn,
#setaES.displayOn {
    display: flex;
}

#setaDT i {
    color: rgb(255, 255, 255);
    font-size: 55px;
}

.SlideADD {
    animation: slideADD 1 1s;
}

.SlideRE {
    animation: slideRE 1 1s;
}

@keyframes slideADD {
    0% {
        transform: translateX(250px) translateY(0);
        opacity: 0.5;
        overflow-y: hidden;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
        overflow-y: hidden;
    }
}

@keyframes slideRE {
    0% {
        transform: translateX(-250px) translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}