.informativo {
    margin: 50px auto;
    width: 100%;
    height: 550px;
}

.slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#slide1 {
    max-width: 1500px;
    width: 90%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
    cursor: pointer;
    user-select: none;
}

#slide1.SlideADD {
    animation: slideADD 0.7s ease-in-out;
}

#slide1.SlideRE {
    animation: slideRE 0.7s ease-in-out;
}

#setaEsquerda {
    display: none;
    position: absolute;
    left: 43px;
    z-index: 10;
}

#setaDireita {
    display: none;
    position: absolute;
    right: 43px;
    z-index: 10;
}

#setaEsquerda i,
#setaDireita i {
    height: 155px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 15px;
    color: rgb(3, 2, 2);
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #e7e6e66c;
    margin: 0 25px 0 25px;
    z-index: 95;
}

#setaEsquerda i:hover,
#setaDireita i:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out transform;
    background: rgb(9, 22, 104);
    background: linear-gradient( 90deg, rgba(9, 22, 104, 1) 0%, rgba(9, 39, 121, 1) 35%, rgba(9, 57, 137, 1) 100%);
    color: white;
}

#setaEsquerda.displayOn,
#setaDireita.displayOn {
    display: block;
}

@keyframes slideADD {
    0% {
        transform: translateX(250px) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slideRE {
    0% {
        transform: translateX(-250px) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}