#informativo {
    position: relative;
    height: calc(100vh - 225px);
}

#slideInformativo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#slide {
    height: 100%;
    width: 100%;
}

#setaES {
    background-color: #000000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 110px;
    z-index: 10;
    left: 0;
}

#setaES i {
    color: rgb(255, 255, 255);
    font-size: 55px;
}

#setaDT {
    background-color: #000000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 110px;
    z-index: 10;
    right: 0;
}

#setaDT i {
    color: rgb(255, 255, 255);
    font-size: 55px;
}

@keyframes slideADD {
    0% {
        transform: translateX(250px) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes slideRE {
    0% {
        transform: translateX(-250px) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}