@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Source+Serif+Pro&display=swap");
#rede-sociais {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: 32px;
    /*height: 450px;
    */
    z-index: 99;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    animation: redeFechando 0.7s ease;
}

#rede-sociais #msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

#rede-sociais p {
    display: none;
    font-family: "Source Serif Pro", serif;
    user-select: none;
}

#rede-sociais img {
    width: 32px;
    user-select: none;
}

#rede-sociais.click {
    animation: redeAbrindo 1 0.5s ease;
    height: 450px;
    width: 250px;
}

#rede-sociais.click #msg {
    justify-content: center;
}

#rede-sociais.click img {
    padding-left: 15px;
}

@keyframes redeAbrindo {
    0% {
        width: 50px;
        height: 25px;
        opacity: 0.1;
    }
    100% {
        width: 250px;
        height: 450px;
        opacity: 1;
    }
}

@keyframes redeFechando {
    0% {
        width: 350px;
        height: 450px;
        opacity: 0.8;
    }
    100% {
        width: 34px;
        height: 31px;
        opacity: 1;
    }
}