@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.container#texto {
    margin-top: 60px
}

.header {
    height: auto;
    width: 100%;
}

.header .logo-menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

#IMG {
    padding: 10px;
}

#IMG img {
    height: 100px;
}

#msg h1 {
    font-size: 25px;
    margin: 80px 80px 0 0;
    font-family: 'whisper', cursive;
    color: rgb(60, 0, 109);
}

.container-menu {
    transition: width 0.2s;
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 55px;
    background-image: linear-gradient(to right, #002c5f, #0c5bb6, #002c5f);
}

.container-menu#fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all 0.6s;
    width: 100%;
}

.header .container-menu#fixed ul a img {
    transform: translateX(50px);
}

.header .container-menu#fixed ul a img:hover {
    transform: translateX(50px) scale(1.2);
}

.header ul {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.header ul li {
    list-style: none;
    display: flex;
    margin-left: 55px;
    width: 150px;
    justify-content: center;
    transform: translateX(-40px);
}

.header ul a img {
    margin-left: 10px;
}

.header ul a img:hover {
    transform: scale(1.2);
}

#home {
    transform: translateX(0);
    margin-left: 0;
}

.header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.header ul li a:hover {
    transform: scale(1.2);
}

.header ul li.sobre-menu {
    transition: all ease-in-out 0.2s;
}

.header ul li.sobre-menu:hover {}

.header ul li ul {
    position: absolute;
    width: 250px;
    margin-top: 50px;
    padding: 10px;
    display: none;
    height: auto;
    background-color: #002c5f;
    /*background-color: #53a5dd;*/
    transform: translateX(-180px);
}

.header ul li ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px #53a5dd solid;
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
}

.header ul li ul li a {
    margin: 0 auto;
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

.header ul li ul li a:hover {
    transform: scale(1.2);
}

.header ul li ul.onDisplay {
    display: block;
}

.informativo {
    display: flex;
    margin: 0 auto;
    width: 85%;
    height: 400px;
    margin-top: 10px;
    border: solid 2px rgb(19, 18, 18);
}

.inf {
    width: 100%;
    height: 100%;
}

.inf#cursos {}