@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #022af2 #666666;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #022af2;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

body {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.container#texto {
    margin-top: 60px
}

.header {
    height: auto;
    width: 100%;
}

.header .logo-menu {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

#IMG {
    opacity: 0;
    padding: 10px;
}

#IMG img {
    height: 75px;
}

.aluno#aluno-header {
    opacity: 0;
    width: 155px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s all ease-in-out;
}

#IMG.transformOp,
.aluno#aluno-header.transformOp {
    opacity: 1;
}

.aluno#aluno-header:hover {
    transform: scale(1.1);
    background-image: linear-gradient( to right, #f6f7f8 0%, #f6f7f8 10%, #f6f7f8 20%, #ffffff 100%);
    background-size: 200% 100%;
    animation: bgPos 1s ease-in-out;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}

.aluno#aluno-header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    margin-left: 5px;
}

.aluno#aluno-header a {
    color: #0b0968;
}

.aluno#aluno-header p {
    width: auto;
    margin: 0 5px 0 15px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* background-color: #0d09ce; */
    color: #000000;
    font-family: 'Source Serif Pro', serif;
    padding-right: 10px;
    border-right: 1px solid rgb(14, 9, 88);
    color: #0b0968;
    font-size: 17px;
}

.aluno#aluno-menu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: translate ease-in-out 2s;
    box-shadow: rgb(7, 7, 7) 0px 20px 30px -10px;
    padding: 10px;
}

.aluno#aluno-menu:hover {
    transform: scale(1.1);
    background-image: linear-gradient( to right, #f6f7f8 0%, #f6f7f8 10%, #f6f7f8 20%, #ffffff 100%);
    background-size: 200% 100%;
    animation: bgPos 1s ease-in-out;
}

.aluno#aluno-menu button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.aluno#aluno-menu a {
    font-size: 20px;
    color: #f5f5f5;
}

.aluno#aluno-menu p {
    font-family: Arial, Helvetica, sans-serif;
    color: #010108;
    font-size: 15px;
    margin: 0 0 5px 10px;
}

.container-menu#fixed .aluno#aluno-menu {
    display: flex;
}

.aluno#aluno-menu i {
    color: #010db1;
}

.container-menu {
    transition: width 0.2s;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, #002c5f, #0c5bb6, #002c5f);
    transition: all 1s ease-in-out;
}

.container-menu#fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all 0.6s;
    width: 100%;
}

.header ul {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.6s;
}

.header ul li {
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: center;
    margin-left: 50px;
    padding: 0;
}

.header ul li.img-menu {
    display: none;
    width: 50px;
    height: 50px;
}

.header ul li.img-menu img {
    width: 150px;
    height: 50px;
}

.header .container-menu#fixed ul li.img-menu {
    display: flex;
    margin-left: 10px;
}

.header .container-menu#fixed ul li {
    width: 125px;
}

.header .container-menu#fixed ul li#home {
    margin-left: 50px;
}

.header .container-menu#fixed ul li#pos-gra a {
    font-size: 24px;
}

.header ul a img {
    margin-left: 10px;
}

.header ul a img:hover {
    transform: scale(1.2);
}

.header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.header ul li a:hover {
    border-bottom: 1px solid #f5f5f5;
}

.header ul li.sobre-menu {
    transition: all ease-in-out 0.2s;
}

.header ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 5px;
    color: #2edddd;
}

.header ul li ul {
    position: absolute;
    width: 250px;
    margin-top: 54px;
    display: none;
    height: auto;
    background-color: #002c5f;
    /*background-color: #53a5dd;*/
    transform: translateX(-180px);
    z-index: 98;
}

.header ul li ul li {
    display: flex;
    width: 155px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px #2edddd solid;
    transition: all 0.3s ease-in-out;
}

.header ul li ul li:last-child {
    margin: 0 auto 10px auto;
}

.header ul li ul li a {
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

.header ul li ul li a:hover {
    transform: scale(1.1);
    border: none;
}

.header ul li ul.onDisplay {
    display: block;
}

.informativo {
    display: flex;
    margin: 60px auto;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#slide-esquerda img,
#slide-direita img {
    width: 400px;
    height: 300px;
    margin: 10px;
    filter: blur(5px);
    z-index: -1;
}

#slide-principal {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-size: 100% 100%;
    height: 100%;
    z-index: 2;
}

#slide-destaque {
    width: 1100px;
    height: 500px;
}

#seta-esquerda {
    transform: translateX(-80px);
    z-index: 1;
}

#seta-direita {
    transform: translateX(19px);
    z-index: 1;
}

#seta-esquerda i,
#seta-direita i {
    position: absolute;
    transform: translateY(-25px);
    font-size: 55px;
    color: #aeadb3;
    cursor: pointer;
}

#seta-esquerda i:hover,
#seta-direita i:hover {
    transform: scale(1.1) translateY(-25px);
}